name: supabase config CI
on:
    push:
        branches:
            - main
        paths:
            - supabase/**
jobs:
    push-config-to-supabase:
        name: push config to supabase
        environment: production
        env:
            - SUPABASE_ACCESS_TOKEN: ${{secrets.SUPABASE_ACCESS_TOKEN}}
            - SUPABASE_DB_PASSWORD: ${{secrets.SUPABASE_DB_PASSWORD}}
            - SUPABASE_PROJECT_ID: ${{secrets.SUPABASE_PROJECT_ID}}
            - RESEND_API_KEY: ${{secrets.RESEND_API_KEY}}
            - SITE_URL: ${{secrets.SITE_URL}}

        defaults:
            run:
                working_directory: ./
        steps:
            - name: Checkout repo to runner
              uses: actions/checkout@v4
            - name: Install supabase cli
              run: npm install supabase --save-dev
            - name: Link supabase project
              run: supabase link --project-ref
            - name: Push supabase config
              run: supabase config push
