# TODO: move the vercel deploy to this action as well, we should also move env vars that are in vercel to the gh action evironment secrets and use the gh action environmennt secrets as our single deploy and secret source of truth
name: supabase config CI
on:
    push:
        branches:
            - main
jobs:
    push-config-to-supabase:
        name: push config to supabase
        runs-on: ubuntu-latest
        environment: production
        env:
            SUPABASE_ACCESS_TOKEN: ${{secrets.SUPABASE_ACCESS_TOKEN}}
            SUPABASE_DB_PASSWORD: ${{secrets.SUPABASE_DB_PASSWORD}}
            SUPABASE_PROJECT_ID: ${{secrets.SUPABASE_PROJECT_ID}}
            RESEND_API_KEY: ${{secrets.RESEND_API_KEY}}
            SITE_URL: ${{secrets.SITE_URL}}
            VERCEL_PROJECT_ID: ${{secrets.VERCEL_PROJECT_ID}}
            VERCEL_ORG_ID: ${{secrets.VERCEL_ORG_ID}}
        steps:
            - name: Checkout repo to runner
              uses: actions/checkout@v4

            - name: Install supabase cli
              run: npm install supabase

            - name: Link supabase project
              run: npx supabase link --project-ref "$SUPABASE_PROJECT_ID"

            - name: Push supabase config
              run: npx supabase config push

            - name: Install vercel CLI
              run: npm install vercel

            - name: Pull vercel environment variables
              run: npx vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}

            - name: Build Vercel app
              run: npx vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}

            - name: Deploy to vercel
              run: npx vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}
